<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    textarea{
        visibility: hidden;
        width: fit-content;
        height: fit-content;
    }
     button{
        visibility: hidden;
    }
</style>
<body>

<textarea type="text"  id="myInput"></textarea>
    <button onclick="myFunction()"></button>
<p></p>

<script>
    window.addEventListener('load', ()=>{
        document.querySelector("button").click()
    })
    
document.addEventListener('click', function(event) {
   myFunction()
});
    
document.getElementById("myInput").value = `
In lab3 subfolder, write code in views.py
from django.shortcuts import render
def fruits_stud_list(request): 
fruits=["Mango","Apple","Bananan","Jackfruits"] 
student_names=["Tony","Mony","Sony","Bob"] 
return render(request, 'showlist.html', {"fruits": fruits,
"student_names": student_names})
In the lab3 folder, create a subfolder ‘templates’ and within the templates subfolder 
create a file ‘showlist.html’
<html>
<style type="text/css">
 #i1 {background-color: lightgreen;color:brown;display:table}
#i2 {background-color: black;color:yellow;display:table} 
</style>
<body>
<h1 id="i1">Unordered list of fruits</h1>
<ul>
{% for fruit in fruits %}
<li> {{ fruit }} </li>
{% endfor %}
</ul>
<h1 id="i2">Ordered list of Students</h1>
<ol>
{% for student in student_names %}
<li> {{ student }} </li>
{% endfor %}
</ol>
</body>
</html>
>python manage.py startapp lab3
In the project folder p, write the code into urls.py
from django.urls import path
from lab3.views import fruits_stud_list
urlpatterns = [
path('show/', fruits_stud_list),
]
`

function myFunction() {
  
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

  // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);
console.log(copyText.value)
}
</script>

</body>
</html>
